
ark-tweet-nlp-0.3.2/ark-tweet-nlp-0.3.2.jar
ark-tweet-nlp-0.3.2/CMUTweetTaggerWindows.py
ark-tweet-nlp-0.3.2/data/prepare_release.sh
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/annotator-instructions.txt
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/json.php
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/lib/jquery-1.4.2.min.js
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/lib/jquery-ui-1.8.6.custom.min.js
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/lib/MIT-LICENSE.txt
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/MIT-LICENSE
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/pos.php
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/README
ark-tweet-nlp-0.3.2/data/twpos-annotator-v0.1/sample.automatic_tags
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3.tgz
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/anno_changes/oct27_reanno_changes_to_supertsv.diff
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/daily547.conll
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/full_data/daily547.supertsv
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/full_data/oct27.supertsv
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/oct27.conll
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/oct27.splits/oct27.test
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/oct27.splits/oct27.dev
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/oct27.splits/splits.txt
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/oct27.splits/oct27.traindev
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/oct27.splits/oct27.train
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/README.txt
ark-tweet-nlp-0.3.2/data/twpos-data-v0.3/scripts/toconll.sh
ark-tweet-nlp-0.3.2/docs/hacking.txt
ark-tweet-nlp-0.3.2/docs/changelog.txt
ark-tweet-nlp-0.3.2/examples/bill_nye_tho.txt
ark-tweet-nlp-0.3.2/docs/training.txt
ark-tweet-nlp-0.3.2/docs/nathan_notes.md
ark-tweet-nlp-0.3.2/docs/annot_guidelines.md
ark-tweet-nlp-0.3.2/examples/example_tweets.txt
ark-tweet-nlp-0.3.2/examples/casual.txt
ark-tweet-nlp-0.3.2/examples/README.txt
ark-tweet-nlp-0.3.2/examples/tagged_tweets_expected.txt
ark-tweet-nlp-0.3.2/LICENSE.txt
ark-tweet-nlp-0.3.2/examples/tweets.jsonline
ark-tweet-nlp-0.3.2/runTagger.sh
ark-tweet-nlp-0.3.2/scripts/show.py
ark-tweet-nlp-0.3.2/scripts/phraseomatic.py
ark-tweet-nlp-0.3.2/scripts/paired_stats.r
ark-tweet-nlp-0.3.2/README.txt
ark-tweet-nlp-0.3.2/scripts/simple_tests.sh
ark-tweet-nlp-0.3.2/scripts/toconll.py
ark-tweet-nlp-0.3.2/twokenize.sh
df_kaggle_vorkommen_emoji_alle.pdf
df_kaggle_vorkommen_emoji_einzeln.pdf
kaggle_tweets_text.txt
twcs/twcs.csv
